#about-section{
    padding: 6%;
    padding-top: 10%;
    padding-left: 10%;
    background-color: #fff;
}

#about-para{
    margin-top: 5%;
}

#Editorial{
    padding: 6%;
    background-color: #EFF5FF;
}

#Design{
    padding: 6%;
    background-color: #fff;
}

#Marketing{
    padding: 6%;
    background-color: #EFF5FF;
}

#TechOps{
    padding: 6%;
    background-color: #fff;
}

.team-row{
    margin-top: 3%;
}

.team-member-card img{
    width: 90%;
    padding: 2%;
    object-fit: cover;
    border-radius: 50%;
}

.team-member-card{
    text-align: center;
}

.team-member-card h3{
    color: #010038 !important;
    padding: 2%;
    padding-top: 5%;
}

.team-member-card a:link{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: none;
}

.team-member-card a:visited{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: none;
}

.team-member-card a:hover{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: underline;
}

.team-member-card a:active{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    #about-section{
        padding-top: 22%;
    }
    .team-member-card img{
        width: 50%;
    }
}