#landing-section{
    padding: 6%;
    padding-top: 10%;
    padding-left: 10%;
    background-color: #fff;
}

.landing-section-text button{
    font-size: 100%;
    padding: 2.5% 9% 2.5% 9%;
    border-radius: 12px;
}

.landing-section-text{
    margin-top: 7%;
    margin-left: 0px;
}

.landing-section-text h1{
    font-size: 550%;
}

.landing-section-img{
    max-width: 100%;
    height: auto;
}

#editors-section{
    padding: 6%;
    background-color: #EFF5FF;
}

.image-card-row{
    padding-top: 3%;
}

.image-card{
    position:relative;
}

.image-card img{
    z-index: 0;
    border-radius: 15px;
    box-shadow: 0 5px 6px 5px rgba(0,0,0,.07);
    height: auto;
    width: 100%;
}

.image-card-text{
    position:absolute;
    left: 8%;
    bottom: 2%;
}

.image-card-text h4{
    font-family: 'Inter', sans-serif;
    color: #fff !important;
    font-weight: 600;
    font-size: 200%;
}

.image-card-text p{
    color: #fff !important;
}

#more-section{
    padding: 16%;
    text-align: center;
    background-color: #EFF5FF;
}

@media screen and (max-width: 600px){
    .landing-section-text h1{
        font-size: 240%;
    }
    #landing-section{
        padding-top: 22%;
    }
}