#landing-section{
    padding: 6%;
    padding-top: 10%;
    padding-left: 10%;
    background-color: #fff;
}

.landing-section-text button{
    font-size: 100%;
    padding: 2.5% 9% 2.5% 9%;
    border-radius: 12px;
}

.landing-section-text{
    margin-top: 7%;
    margin-left: 0px;
}

.landing-section-text h1{
    font-size: 550%;
}

.landing-section-img{
    max-width: 100%;
    height: auto;
}

#editors-section{
    padding: 6%;
    background-color: #EFF5FF;
}

.image-card-row{
    padding-top: 3%;
}

.image-card{
    position:relative;
    margin-top: 10px;
    margin-bottom: 5px;
}

.image-card img{
    z-index: 0;
    border-radius: 15px;
    box-shadow: 0 5px 6px 5px rgba(0,0,0,.07);
    height: auto;
    width: 100%;
}

.image-card-text{
    position:absolute;
    left: 8%;
    bottom: 2%;
}

.image-card-text h4{
    font-family: 'Inter', sans-serif;
    color: #fff !important;
    font-weight: 600;
    font-size: 200%;
}

.image-card-text p{
    color: #fff !important;
}

.editor-card{
    background-color: #FFF;
    border-radius: 15px;
    padding: 6%;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0 5px 6px 5px rgba(0,0,0,.04);
}

.editor-card h4{
    font-family: 'Inter', sans-serif;
    color: #010038 !important;
    font-weight: 600;
    font-size: 200%;
}

.editor-card-item{
    margin-top: 4%;
}

.editor-card-item a:link{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: none;
}

.editor-card-item a:visited{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: none;
}

.editor-card-item a:hover{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: underline;
}

.editor-card-item a:active{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: underline;
}

.editor-item-image img{
    border-radius: 5px;
    height: 65px;
    width: 65px;
    object-fit: cover;
}

#more-section{
    padding: 6%;
    background-color: #EFF5FF;
}

.more-card{
    background-color: #FFF;
    border-radius: 15px;
    padding: 6%;
    box-shadow: 0 5px 6px 5px rgba(0,0,0,.04);
    margin-top: 12%;
    margin-bottom: 15%;
}

.more-card h4{
    font-family: 'Inter', sans-serif;
    color: #010038 !important;
    font-weight: 600;
    font-size: 200%;
}

.more-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.more-card a:link{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: none;
}

.more-card a:visited{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: none;
}

.more-card a:hover{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: underline;
}

.more-card a:active{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #394FE1 !important;
    text-decoration: underline;
}


.readingtime{
    text-align: right;
}

.left{
    margin-left: 2%;
    margin-right: 2%;
}

.right{
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 600px){
    .landing-section-text h1{
        font-size: 240%;
    }
    #landing-section{
        padding-top: 22%;
    }
}