#title-section{
    padding: 6%;
    padding-top: 10%;
}

.title-section-text{
    margin-top: 10%;
    margin-left: 0px;
}

.title-section-img{
    max-width: 100%;
    height: auto;
}

#list-section{
    padding: 6%;
    background-color: #EFF5FF;
}